In [87]:
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression,LinearRegression
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, FunctionTransformer,PowerTransformer
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
import seaborn as sns
import scipy.stats as stats
from sklearn.metrics import accuracy_score,r2_score,mean_absolute_error,mean_squared_error
from ydata_profiling import ProfileReport
df = pd.read_csv("placement.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [95]:
def calc(a):
    a = float(a)
    def linear_reg():
        x_mean = df["cgpa"].mean()
        y_mean = df["package"].mean()
        y = df["package"]
        x = df["cgpa"]
        lower = 0
        upper = 0
        for i in range(len(df)):
            upper += ((x[i]-x_mean)*(y[i]-y_mean))
            lower+= pow((x[i]-x_mean),2)
        slope = upper/lower
        intercept = y_mean-slope*x_mean
        return slope,intercept
    slope,intercept = linear_reg()
    y_mean = df["package"].mean()
    y_pred = slope*a+intercept
    return y_pred
rand = [random.randint(1,100) for i in range(1,20)]
tester = list(df["cgpa"].iloc[rand])
result_true = list(df["package"].iloc[rand])
y_pred = []
for i in tester:
    z = calc(i)
    y_pred.append(round(z,2))
mae = mean_absolute_error(result_true, y_pred)
mse = mean_squared_error(result_true, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(result_true, y_pred)
print(f"Mean Absolute Error:{mae}")
print(f"Mean Square Error:{mse}")
print(f"Root Mean Square Error:{rmse}")
print(f"R2 Score:{r2}")
calc(input_val)

3.2748649388015423